<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn msi_message_load_mailbox" href="#inbox">Inbox</a>
        <a class="btn msi_message_load_mailbox" href="#sent">Sent</a>
        <a class="btn msi_message_load_mailbox" href="#trash">Trash</a>
    </div>
    <div class="btn-group">
        <a class="btn" href="{{ path('msi_message_message_new') }}"><i class="icon-pencil"></i></a>
    </div>
</div>
<hr>
